
.top-bar{
    display: flex;
    height: 4rem;
    background-color: rgb(243, 239, 239);
}
@font-face {
    font-family: "SF-Pro Medium";
    src: url("./fonts/SF-Pro-Text-Medium.otf") format("truetype");
    font-style: normal;
  }

@font-face {
    font-family: 'GuardiansGalaxyFlood';
    src: url('/app/routes/styles/fonts/Flood.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.title{
    margin: 1rem;
    margin-left: 3rem;
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    color:rgb(47, 46, 46,0.9);
    font-weight: 600;
    font-size: 1.1rem;
}


.main-content{
   display: flex;
   flex:1;
   gap: 1rem;
   background: url('/backdrop3.webp') no-repeat center center/cover;
   flex-direction: row;
   justify-content:center;
   align-items: flex-start;
   align-content: center; 
   align-self: center;
   height: calc(100vh - 4rem);
   
}

.img-container{
    display: flex;
    margin-left: 3rem;
    width:10rem;
    height:10rem;
    border-radius: 50%;
    
}
.aboutme-text-container{
    display: flex;
    flex-direction: column;
    // background: url('/backdrop3.jpg') no-repeat center center/cover;
    padding: 50px;
    border-radius: 5px;
    line-height: 1.9rem;
    gap: 0.2rem;
}
.me{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.introduction{
    font-family: "SF-Pro Medium";
    font-size: 1.1rem;
    margin:1rem;
    margin-bottom:1rem;
    font-weight: 300;
    color:rgb(246, 245, 245);
    word-spacing: 1px;
    padding: 15px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 40px;
    mix-blend-mode: screen;
}

.introduction-ending{
    font-family: 'GuardiansGalaxyFlood';
    font-size: 1.5rem;
    margin-left:1rem;
    border-radius: 40px;
    font-weight: 400;
    color:rgb(246, 245, 245);
    align-self: flex-end;
    padding: 15px;
    background-color: rgba(255,255,255,0.3);
    mix-blend-mode: screen;

}