.top-bar{
    display: flex;
    height: 4rem;
    background-color: rgb(243, 239, 239);
}
.title{
    margin: 1rem;
    margin-left: 3rem;
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    color:rgb(47, 46, 46,0.9);
    font-weight: 600;
    font-size: 1.1rem;
}