.menu-container{
  display:flex;
  flex-direction: column;
  gap: 0.07rem;
  width:fit-content;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  height:fit-content;
  z-index:50;
  position: relative; /* Create stacking context */
  isolation: isolate; /* Prevent blend mode interference */
  }
.divider{
  width: 12rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); /* Light gray */
  margin-left: 0.4rem; /* Spacing above and below */
}   

.text{
font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
font-size: 0.84rem;
font-weight: 350;
color:black;
z-index:50;
mix-blend-mode: normal;
margin-left: 0.6rem;
margin-top: 0.5rem;
cursor:pointer;
}