.control-menu-container{
    display: flex;
    flex-direction:column;
    height: fit-content;
    width: fit-content;
    // mix-blend-mode: screen;
    
}
.upper-controls{
    display:flex;
    flex-direction: row;
    gap: 0.7rem;
    margin: 0.6rem;
}
.left-controls{
    display: flex;
    height: fit-content;
    background-color: rgba(203, 204, 203,0.7);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adds shadow for elevation */
    min-width: 10.1rem;
}

.right-controls{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.focus{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: rgba(203, 204, 203,0.7);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    padding-right: 65px;
    padding-bottom: 17px;
    padding-top: 17px;
    gap: 0.5rem;
    cursor: not-allowed;
}

.manager-container{
    display: flex;
    flex-direction:row;
    gap: 0.8rem;
}
.stage-manager{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: rgba(203, 204, 203,0.7);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    cursor: not-allowed;
}
.full-screen-mode{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: rgba(203, 204, 203,0.7);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.full-screen-mode.selected{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.connectivity-container{
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    width: fit-content;
}

.connectivity-holder{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;
    padding: 0.3rem;
    width: 100%;
}
.connectivity-text-big{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.75rem;
    cursor: pointer;
    color: rgba(0, 0, 0,1);
    font-weight: 500;
}
.connectivity-text-small{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.68rem;
    flex-direction: column;
    margin-left: 0.1rem;
    cursor: pointer;
    
}
.connectivity-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
    white-space: nowrap;
}
.chevron-right{
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
}
.circle-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(52,120,246);
}
.circle-wrapper-right{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: rgb(170, 170, 170);
}

.focus-text{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.7rem;
    font-weight: 500;
}
.manager-text{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.6rem;
    font-weight: 450;
    cursor: pointer;
}
.manager-text.selected{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.6rem;
    font-weight: 450;
    color: rgba(54,121,247,1);
    cursor: pointer;
}
.circle-wrapper.selected{
    background-color:rgb(189, 185, 185) ;
}
.connectivity-holder:hover .chevron-right {
    opacity: 1;
    visibility: visible;
}

.lower-controls{
    display: flex;
    flex-direction:column;
    margin:0.7rem;
    gap: 0.7rem;
}

.brightness-container,
.volume-container{
    display: flex;
    flex-direction:column;
    height: fit-content;
    background-color: rgba(203, 204, 203,0.7);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
.player-container{
    display: flex;
    height: fit-content;
    align-content: center;
    background-color: rgba(203, 204, 203,0.7);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-top: 5px;
    padding-bottom:5px;
}
.slider-container {
    display: flex;
    align-items: center;
    background: none;
    padding: 5px;
    border-radius: 12px;
    width: 300px;
    position: relative;
  }
  .slider-wrapper {
    position: relative;
    width: 100%;
  }
  .slider-icon {
    position: absolute;
    margin-top: 4.5px;
    margin-left: 4.5px;
  }
  .icon {
    margin-left: 30px;
    font-size: 18px;
    color: gray;
  }
  
  .slider,
  .slider-volume{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 22px; // Increased height to make the track thicker
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, white 50%, #d1d1d1 50%);
    transition: background 0.3s;
  
    &::-webkit-slider-runnable-track {
      height: 22px; 
      border-radius: 10px;
      background: transparent;
    }
  
 
    &::-moz-range-track {
      height: 22px; 
      border-radius: 10px;
      background: transparent;
    }
  

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 22px;
      height: 22px;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: transform 0.2s;
    }
  
    &::-moz-range-thumb {
      appearance: none;
      width: 22px;
      height: 22px;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: transform 0.2s;
    }
  }

  .display-text,
  .sound-text{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.85rem;
    font-weight: 450;
    color:rgba(0, 0, 0, 1);
    margin:0.5rem;
    margin-bottom: 0rem;
  }

  .audio-image-container{
    height: 40px;
    width: 45px;
    margin:0.5rem;
    padding-top:8px;
    padding-bottom: 8px;
    background-color: gray;
    cursor: pointer;
  }
  .audio-image{
    width:100%;
    height:100%;
  }
  .audio-text-container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .audio-desc-text-big{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.7rem;
    font-weight: 600;
    color:rgb(27, 27, 27);
    margin-top:0.1rem;
    margin-bottom:0.1rem;
    margin-left: 0.1rem;
  }
  .audio-desc-text-small{
    font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
    font-size: 0.75rem;
    font-weight: 400;
    color:rgb(27, 27, 27);
    margin-top:0.1rem;
    margin-bottom:0.1rem;
    margin-left: 0.2rem;
  }

  .audio-controls{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-left: auto;
    margin-right: 15px;
  }