@font-face {
    font-family: "SF Pro";
    src: url("./fonts/SF-Pro-Display-Heavy.otf") format("truetype");
    font-weight: 400; /* Regular */
    font-style: normal;
  }


  @font-face {
    font-family: 'GuardiansGalaxy';
    src: url('/fonts/Guardians.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'GuardiansGalaxyFlood';
  src: url('/fonts/Flood.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  