.homepage-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Equivalent to bg-gray-900 */
    position: relative;
}

.background-video{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Equivalent to object-cover */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.folder-wrapper{
  position:absolute;
  top: 100px;
  left: 100px;
  z-index:6;
  display: flex;
}
.overlay-topbar{
    display:inline-block;
    align-content: center;
    position: absolute;
    max-width: none;
    width:100vw;
    height: 2.5rem;
    top: 0;
    z-index:2;
    // color: rgba(245,245,247,0.7);
    background-color: rgba(233,231,236,0.7);

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.7rem;
    }

    &__frame{
        height: 70vh;
        width: 70vw;
    }

}
.iframe{
    height: 70vh;
    width: 70vw;
}


.frame-wrapper{
    z-index: 2;
    // justify-content: center;
    // top: 0;
    // left:0;
    // width:auto;
    // padding-right: 0rem;
    // padding-top: 1.5rem;
    // cursor: grab;
    // background-color: rgba(50,50,51);
    // position: relative;
    width:600px;

    &__buttons{
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.4rem;
    }
    &__button-close{
      width: 13px;
      height: 13px;
      border:none;
      border-radius: 50%;
      background-color: rgba(237,106,94);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:default;
    }
    &__button-minimize{
      width: 13px;
      height: 13px;
      border:none;
      border-radius: 50%;
      background-color: rgba(245,191,79);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:default;

    }
    &__button-maximize{
      width: 13px;
      height: 13px;
      border:none;
      border-radius: 50%;
      background-color: rgba(98,199,85);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:default;
    }
}

.frame-wrapper:active {
    cursor: grabbing; /* Change cursor while dragging */
  }

.overlay-downbar{
    display:flex;
    flex-direction: row;
    position:absolute;
    height: 3.5rem;
    width: fit-content;
    max-width:93.5vw;
    z-index: 2;
    bottom:0.2rem;
    background:rgba(245,245,247,0.2);
    backdrop-filter: blur(25px); /* Add a blur effect to content behind */
    -webkit-backdrop-filter: blur(25px); /* Safari support */
    mix-blend-mode: screen;
    border-radius: 0.75rem;
    align-content: center;
    padding-left: 1rem;


    &__icons-container{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        z-index:3;
        
    }

    &__image-container{
        max-width:63px;
        max-height:63px;
        z-index:4;
      }
    &__image{
        width: 70%;
        height: 70% ;
        object-fit: contain;
        z-index:5;
    }

    &__image-notifier{
        width: 5px;
        height: 5px;
        border: none;
        border-radius: 50%;
        background-color: black;
        margin-left: 17px;
        margin-top: 2px;
    }
}

.animate {
    animation: bounceUp 1.2s ease-in-out; /* Smooth bounce animation */
  }

@keyframes bounceUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }
  
