.homepage-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Equivalent to bg-gray-900 */
    position: relative;
}

.Menu-container{
  display:flex;
  flex-direction: row;
  position: absolute;
  height: 16rem;
  width: 14rem;
  z-index: 40;
  top: 2.7rem;
  left: 0.4rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0.75rem;
  align-content: center;
}

.Menu-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(198, 198, 199, 0.7);
  mix-blend-mode: screen;
  border-radius: 0.75rem;
  z-index: -1; /* Send background to back */
}

.battery-container-1{
  display:flex;
  flex-direction: row;
  position: absolute;
  height: fit-content;
  width: 18.5rem;
  z-index: 40;
  top: 2.7rem;
  right: 1.2rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0.75rem;
  align-content: center;
}
.battery-container-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(198, 198, 199, 0.4);
  mix-blend-mode: screen;
  border-radius: 0.75rem;
  z-index: -1; /* Send background to back */
}
.controlcenter-container{
  display:flex;
  flex-direction: row;
  position: absolute;
  height: fit-content;
  width: fit-content;
  z-index: 40;
  top: 2.7rem;
  right: 0.5rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0.75rem;
  align-content: center;
}
.controlcenter-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(198, 198, 199, 0.4);
  mix-blend-mode: screen;
  border-radius: 0.75rem;
  z-index: -1; /* Send background to back */
}

.background-video{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Equivalent to object-cover */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.folder-wrapper{
  position:absolute;
  top: 100px;
  right: 1.8rem;
  max-width:150px;
  max-height: 150px;
  z-index:6;
  display: flex;
  cursor:pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.folder-wrapper-exp{
  position:absolute;
  top: 220px;
  right: 1.8rem;
  max-width:150px;
  max-height: 150px;
  z-index:6;
  display: flex;
  cursor:pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.folder-wrapper-certifications{
  position:absolute;
  top: 340px;
  right: 1.8rem;
  max-width:150px;
  max-height: 150px;
  z-index:6;
  display: flex;
  cursor:pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.folder-wrapper-aboutme{
  position:absolute;
  top: 460px;
  right: 1.8rem;
  max-width:250px;
  max-height: 150px;
  z-index:6;
  display: flex;
  cursor:pointer;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
// .folder-wrapper.active {
//   // box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5), 0 0 20px 4px rgba(0, 0, 0, 0.7);
//   border: 1px solid rgba(255, 255, 255, 0.5); /* Thin white border */
//   background-color: rgba(148, 150, 149); /* Light black background */
//   border-radius: 5px; /* Optional: adds rounded corners to the box */
// }
.overlay-topbar{
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: absolute;
    max-width: none;
    width:100vw;
    height: 2.5rem;
    top: 0;
    z-index:2;
    // color: rgba(245,245,247,0.7);
    background-color: rgba(233,231,236,0.7);

    &__container{
      display: flex;
      align-content: center;
      justify-content: center;
      position: relative;
      align-items: center; // Vertically center the icon
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 7px;
      margin-left: 15px;

      
      &.selected{
        background-color: rgb(207, 206, 205) !important;
        box-shadow: 0 0 0 8.6px rgb(207, 206, 205) !important;
        border-top-left-radius: 7px !important;
      }

    }

  
    &__container-right{
      display: flex;
      align-items: center; // Vertically center the icon
      align-content: center;
      justify-content: center;
      padding-left: 0.7rem;
      margin: 1rem;
    }

    
    &__battery{
      margin-top: 0.216rem;
    }
    &__day-text{
      font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
      font-size: 0.82rem;
      font-weight: 370;
      margin-left: 0.2rem;
    }

    &__time-text{
      font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
      font-size: 0.82rem;
      font-weight: 370;
      margin-left: 0.6rem;
    }

    &__wifi{
      margin-right: 0.5rem;
      margin-bottom: 0.55rem;
      margin-top: 0.5rem;
    }

    &__search{
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      margin-top: 0.1rem;
    }

    &__control-center{
      // -webkit-filter: invert(100%);
      // filter: invert(100%);
      transform: scale(0.5);
      width: 30px;
      height: 30px;
    }

    &__siri{
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-top: 0.75rem;
      margin-right: 0.5rem;
    }
    &siri-img{
      width:100%;
      height:100%;
      display: block;
    }

    &__frame{
        height: 70vh;
        width: 70vw;
    }

}
.iframe{
    height: 70vh;
    width: 70vw;
}


.frame-wrapper{
    z-index: 2;
    // justify-content: center;
    // top: 50%;
    // left:50%;
    // width:auto;
    // padding-right: 0rem;
    // padding-top: 1.5rem;
    // cursor: grab;
    // background-color: rgba(50,50,51);
    // position: relative;
    width:600px;

    &__buttons{
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.4rem;
    }
    &__button-close{
      width: 13px;
      height: 13px;
      border:none;
      border-radius: 50%;
      background-color: rgba(237,106,94);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:default;
    }
    &__button-minimize{
      width: 13px;
      height: 13px;
      border:none;
      border-radius: 50%;
      background-color: rgba(245,191,79);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:default;

    }
    &__button-maximize{
      width: 13px;
      height: 13px;
      border:none;
      border-radius: 50%;
      background-color: rgba(98,199,85);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor:default;
    }
}

.frame-wrapper:active {
    cursor: grabbing; /* Change cursor while dragging */
  }

.overlay-downbar{
    display:flex;
    flex-direction: row;
    position:absolute;
    height: 5.0rem;
    width: fit-content;
    max-width:93.5vw;
    z-index: 2;
    bottom:0.2rem;
    background:rgba(245,245,247,0.2);
    backdrop-filter: blur(25px); /* Add a blur effect to content behind */
    -webkit-backdrop-filter: blur(25px); /* Safari support */
    mix-blend-mode: screen;
    border-radius: 0.75rem;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.7rem;


    &__icons-container{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        z-index:3;
        
    }
    

    &__image-container{
      position: relative;
        max-width:63px;
        max-height:63px;
        z-index:4.5;
      }
    &__image{
        width: 100%;
        height: 100% ;
        object-fit: contain;
        z-index:5;
    }

    &__image-notifier{
        width: 7px;
        height: 7px;
        border: none;
        border-radius: 50%;
        background-color: black;
        margin-left: 30px;
    }

    &__divider{
    margin: 0.3rem;
    margin-top: 0.6rem;
    width: 1.2px;
    height: 74%;
    background-color: black; /* Adjust color as needed */
    }

  
}

.name {
  font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
  font-weight: 400;
  position: absolute;
  top: -45px; /* Position above the image */
  background: rgba(154, 153, 153, 0.85);
  color: rgb(25, 25, 25);
  height: 10px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden; /* Hidden by default */
  opacity: 0; /* For smooth transition */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  white-space: nowrap;
  mix-blend-mode: screen;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
}

.name::after {
  font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
  font-weight: 400;
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  max-width: 0;
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(154, 153, 153, 0.85);
}

.overlay-downbar__icons-container:hover .name {
  visibility: visible; /* Show on hover */
  opacity: 1; /* Fade in */
}


.animate {
    animation: bounceUp 1s ease; /* Smooth bounce animation */
  }


@keyframes bounceUp {
  0% {
    transform: translateY(-15px);
  }
  10% {
    transform: translateY(-14px);
  }
  20% {
    transform: translateY(-13px);
  }
  30% {
    transform: translateY(-12px);
  }
  40% {
    transform: translateY(-11px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-9px);
  }
  70% {
    transform: translateY(-8px);
  }
  80% {
    transform: translateY(-7px);
  }
  90% {
    transform: translateY(-6px);
  }

  92% {
    transform: translateY(-5px);
  }

  94% {
    transform: translateY(-4px);
  }

  96% {
    transform: translateY(-3px);
  }

  98% {
    transform: translateY(-2px);
  }

  
  100% {
    transform: translateY(0px);
  }
}
  
