@import url("./fonts.css");
/* index.css */

/* Base styles for the full-screen container */
.full-screen-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a; /* Equivalent to bg-gray-900 */
    position: relative;
  }
  
  /* Styles for the video element */
  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Equivalent to object-cover */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .background-image{
    width: 100vw;
    height: 100vh;
  }

  .content-wrapper-upperpart {
    position: absolute;
    top: 8vh; /* Adjust this value to control the space from the top */
    left: 50%;
    transform: translateX(-50%);
    display: inline-block; /* This allows the wrapper to shrink-wrap its contents */
    z-index: 2;
    mix-blend-mode: screen;
    opacity: 0.86;
  }

  .overlay-upperpart{
    
    mix-blend-mode: screen;
    &__textwrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0; /* No space between heading and time */
    }
    &__heading{
        font-family: "SF-Pro Medium",-apple-system, BlinkMacSystemFont;
        font-size: 1.65rem;
        font-weight: 500; /* Regular weight */
        margin: 0; /* Remove default margin */
        line-height: 1.3; /* Slightly taller for readability */
        text-align: center;
        color:white;
        
    }
    &__time{
        font-family: "SF-Pro Medium", -apple-system, BlinkMacSystemFont;
        font-size: 7.5rem; /* Large font size for time */
        font-weight: bolder; /* Light weight */
        line-height: 1; /* Remove extra line height */
        text-align: center; /* Center the text */
        color:rgba(245, 245, 255);
        mix-blend-mode: screen;
    }
  }

  .content-wrapper-lowerpart{
    position: absolute;
    bottom: 14vh;
    // display: inline-block; /* This allows the wrapper to shrink-wrap its contents */
    display:flex;
    z-index: 2;
    align-items: center;
    text-align: center;
    // line-height: 1rem;
    width:fit-content;
    transform: translateX(15%);
  }

  .overlay-lowerpart{
        position: relative;
        display: flex;
        line-height: 2rem;
        

    &__imgcontainer{
      max-width:90px;
      max-height:90px;
    }

    &__img{
      width: 100%;
      height: 100% ;
      object-fit: contain;
    }

    &__text-username{
      font-family: "SF-Pro Medium", -apple-system, BlinkMacSystemFont;
      color:rgba(245, 245, 255);
      // margin-right: 1.5rem;
      font-size: 1.2rem;
      font-weight: 650;
    }

    &__text-info{
      font-family: "SF-Pro Medium", -apple-system, BlinkMacSystemFont;
      color:rgba(245, 245, 255);
      opacity: 0.8;
      font-weight: 590;
      margin-left: -2.5rem;
      font-size: 0.8rem;
      width:11.375rem;
      text-align: start;
    }

    &__input{
      margin-left: -2.65rem;
      border-radius: 4rem;
      max-width:11rem;
      max-height: 1.64rem;
      background-color: rgba(245, 245, 245, 0.7); /* White color with 70% opacity */
      color: white; /* Black text color for contrast */
      border: none; /* Remove default border */
      padding: 0.5rem 0.8rem; /* Add padding for better usability */
      padding-right: 2rem;
      font-size: 1rem; /* Adjust font size */
      backdrop-filter: blur(0.3px); /* Add blur effect */
      outline: none; /* Remove the default outline */
      transition: opacity 0.3s ease; /* Smooth transition for opacity */
    }
    
    &__hint{
      display: flex;
      flex-direction: column;
      gap:0.1rem;
      margin-bottom: 1.536rem;
      align-items: center;
      justify-content: center;
    }

    &__hint-text{
      color: rgba(167, 167, 167, 0.7);
      font-size: 1.1rem;
      font-family: "SF-Pro Medium", -apple-system, BlinkMacSystemFont;
      font-weight: 600;
      width: 8rem;
    }
    &__pass-text{
      color:white;
      font-size: 1rem;
    }
  }
  .shake {
    animation: shake 0.25s ease-in-out;
  }

  .right-icon {
    position: absolute;
    right: -2.35rem;
    top: 104.7%;
    // transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Prevent icon from interfering with input */
    color: #888; /* Adjust icon color */
  }

  .question-mark{
      position: absolute;
      right: -4.75rem;
      top: 138.0%;
      // transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #888; /* Adjust icon color */
      transition: transform 0.3s ease, fill 0.3s ease; // Smooth hover effect for scaling
  }

 

   

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-7px);
    }
    50% {
      transform: translateX(7px);
    }
    75% {
      transform: translateX(-7px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  